@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
  color: var(--color-dark-blue);
}

body {
  background-color: var(--color-light-gray);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

main {
  background-color: var(--color-light-gray);
  width: 275px;
  height: fit-content;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  background-color: var(--color-white);
  box-shadow: 0 0 1rem 0 hsla(0, 0%, 0%, 0.1);
  text-align: center;
}

img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  width: 100%;
}

p {
  color: var(--color-grayish-blue);
  font-weight: 400;
}

/* @media (max-width: 768px) {
  main {
    max-width: 275px;
  }
}

@media (min-width: 769px) {
  main {
    max-width: 1440px;
  }
} */
